<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Renowned for our professionalism, integrity, and reliability, we are always ready to offer you excellent residential and commercial hardwood floor services. Our rates are competitive and we are available 24/7 for the convenience of our clients. With over 20 years of experience, we are sure to impress even the most demanding people.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="American Builder Hardwood Floor">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003-2005</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my career in the hardwood floor industry as a dedicated worker for another company. During my time there, I honed my skills in flooring installation, maintenance, and customer service, gaining valuable experience in delivering high-quality craftsmanship and building strong client relationships.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="American Builder Hardwood Floor" width="156" height="156">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005</h4>
                                    <h4 class="subheading">A Company is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After gaining extensive experience in the hardwood flooring industry, I took the exciting step of launching my own business. With a focus on quality craftsmanship and personalized service, I am committed to providing exceptional flooring solutions to meet the unique needs of each client.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
