<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                    <div itemscope itemtype="http://schema.org/Person">
                <h3 class="section-subheading text-primary">Address: <a href="https://maps.app.goo.gl/JXvJqGBh7SBh4Kyy6">Quincy, MA 02169</a><br>Phone: <a href="tel:6172220001">(617) 222-0001</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="gform" method="POST" data-email="americanbuilderhardwood@gmail.com"
                action="https://script.google.com/macros/s/AKfycbx3tHT9ED861b6BrXyLt0kW4BIy43Ec6TnyeLqw4Q_XykOJzA6XKphzS4isUa0aoQs/exec">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-elements">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-elements">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-elements">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-elements">
                                <textarea class="form-control" placeholder="Something about your project. *" id="message" required data-validation-required-message="Please tell us something about your project." rows="6"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
