<!-- Emergency/Priority Banner -->
<div class="emergency-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner-content">
                    <span class="banner-icon">⚡</span>
                    <span class="banner-text">Need a quick estimate for your hardwood floor project?</span>
                    <a href="/estimator.html" class="btn btn-banner">Get Instant Estimate</a>
                    <span class="banner-subtext">Takes less than 2 minutes!</span>
                </div>
            </div>
        </div>
    </div>
</div>