<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Hardwood Floor Installation/Refinishing Services in Quincy</title>
<meta name="description" content="Transform your space with expert hardwood floor installation/refinishing services in Quincy. American Builder crafts beautiful, lasting floors for every home.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://americanbuilderhardwoodfloor.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Hardwood Floor Installation/Refinishing Services in Quincy">
<meta property="og:description" content="Transform your space with expert hardwood floor installation/refinishing services in Quincy. American Builder crafts beautiful, lasting floors for every home.">
<meta property="og:image" content="https://americanbuilderhardwoodfloor.com/img/header-bg.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="americanbuilderhardwoodfloor.com">
<meta property="twitter:url" content="https://americanbuilderhardwoodfloor.com/">
<meta name="twitter:title" content="Hardwood Floor Installation/Refinishing Services in Quincy">
<meta name="twitter:description" content="Transform your space with expert hardwood floor installation/refinishing services in Quincy. American Builder crafts beautiful, lasting floors for every home.">
<meta name="twitter:image" content="https://americanbuilderhardwoodfloor.com/img/header-bg.jpg">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XHN56NXR3T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XHN56NXR3T');
</script>
</head>
