<section id="servicearea" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our service area</h2>
                <p class="text-muted">You will see below a list of the areas we have traveled to the most. If you would like a free estimate or to find out if you are within our service area, send us a message <a class="page-scroll" style="color:#fec503;" href="#contact">here</a> or give us a call at <a href="tel:6172220001" style="color:#fec503;">(617) 222-0001</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="text-muted">
                    <li>
                        <p class="text-muted"><a href="installation.html" style="color:#fec503;"> Quincy, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="boston.html" style="color:#fec503;">Boston, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="cambridge.html" style="color:#fec503;">Cambridge, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="somerville.html" style="color:#fec503;">Somerville, MA</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="text-muted">
                    <li>
                        <p class="text-muted"><a href="newton.html" style="color:#fec503;">Newton, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="dedham.html" style="color:#fec503;">Dedham, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="needham.html" style="color:#fec503;">Needham, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="norwood.html" style="color:#fec503;">Norwood, MA</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="text-muted">
                    <li>
                        <p class="text-muted"><a href="dorchester.html" style="color:#fec503;">Dorchester, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="hingham.html" style="color:#fec503;">Hingham, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="braintree.html" style="color:#fec503;">Braintree, MA</a></p>
                    </li>
                    <li>
                        <p class="text-muted"><a href="randolph.html" style="color:#fec503;">Randolph, MA</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <br></br>
        <div class="row">
            <div class="col-md-6">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="550" height="500" id="gmap_canvas" src="https://www.google.com/maps/d/embed?mid=1tjlOVAdL9xIvIC4n1JThh5Gmu0crr8k&ehbc=2E312F" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div></div>
            </div>
        </div>
    </div>
</section>