<section class="trust-badges">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="trust-badge">
                    <i class="fa fa-shield"></i>
                    <h4>Licensed & Insured</h4>
                    <p>Fully licensed contractors with comprehensive insurance coverage</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trust-badge">
                    <i class="fa fa-clock-o"></i>
                    <h4>20+ Years Experience</h4>
                    <p>Two decades of excellence in hardwood floor services</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trust-badge">
                    <i class="fa fa-money"></i>
                    <h4>Free Estimates</h4>
                    <p>No-obligation quotes with transparent, upfront pricing</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trust-badge">
                    <i class="fa fa-check-circle"></i>
                    <h4>Quality Guarantee</h4>
                    <p>100% satisfaction guarantee on all our work</p>
                </div>
            </div>
        </div>
    </div>
</section>
